/* for header */
.header {
  font-size: 4rem;
  font-weight: 900;

  width: 100%;
  /* ! set header height */
  height: 5%;
  max-height: 80px;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;

  /* for debug */
  background-color: beige;
}

/* left part */
.leftContainer {
  /* debug */
  background-color: bisque;
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 40%;
  min-width: 200px;
}

.displayBox {
  width: 100%;
  aspect-ratio: 1/1;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
