.page {
  background-color: rgb(238, 236, 239);
  width: 100vw;
  height: 100vh;
}

.flex-container {
  /* debug */
  background-color: antiquewhite;

  display: flex;
  gap: 50px;
  padding-left: 100px;
}
